#map {
  height: 100vh;
  width: 80%;
  float: right;
}

#map-full {
  height: 100vh;
  width: 100%;
  float: right;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #06213a;
  color: #06213a;
}
button {
  float: left;
  margin-left: 8px;
  display: inline-block;
  font-size: 26px;
  border: none;
  color: white;
  background: #06213a;

}

button:hover, button:focus {
  color: #f9d764;
  cursor: pointer;
}

p, h1 {
  line-height: 0.5em;
}

.header {
  text-align: center;
  color: white;
}
.side-bar {
  position: absolute;
  width: 20%; 
  background: #06375f;
  height: 100vh;
}

.hidden {
  display: none;
}

.parks-list {
  padding: 0px 5px;
  text-align: left;
  font-size: 14px;
  list-style-type: none;
  line-height: 1.5;
  color: white;
}

.parks-list li:hover {
  color: #f9d764;
  cursor: pointer;
}

.filter-bar {
  padding: 5px;
}

.filter-bar input {
  width: 95%;
  font-size: 14px;
}

.filter-input {
  display: inline-block;
  margin-left: 2px;
  width: 90%;
}

@media screen and (max-width: 750px) {
  .side-bar {
    width: 100%;
    top: 60%;
    column-count: 3;
  }

  #map {
    height: 50vh;
    width: 100%;
  }

  #map-full {
    height: 100vh;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .side-bar {
    width: 100%;
    top: 60%;
    column-count: 2;
  }

  #map {
    height: 50vh;
    width: 100%;
  }

  #map-full {
    height: 100vh;
    width: 100%;
  }

  h1 {
    font-size: 1.5em;
  }

  p {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 400px) {
  .side-bar {
    width: 100%;
    top: 60%;
    column-count: 1;
  }

  #map {
    height: 50vh;
    width: 100%;
  }

  #map-full {
    height: 100vh;
    width: 100%;
  }

  h1 {
    font-size: 1em;
  }

  p {
    font-size: 0.8em;
  }
}